$tablet-width: ("min-width: 768px");
$desktop-width: ("min-width: 1200px");


$bg-darker: #242424;
$bg-table__light: #404040;
$bg-table__lighter: #4e4e4e;
$bg-footer: #292929;
$bg-dark: #353535;
$bg-brown: #6a4d38;
$bg-darkbrown: #624530;
$bg-lightbrown: #826550;

$bg-light: #f8f5f2;

$color-dark: #000;
$color-light: #fff;